<footer class="bg-white partials-bg">
    <div class="w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="flex max-lg:flex-wrap md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="/homepage" class="flex items-center">
                  <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">FLJ</span>
              </a>
              <h4 class="mt-4 self-center text-2xl font-medium whitespace-nowrap text-gray-500 dark:text-gray-400">Partenaires :</h4>
              <div class="flex gap-8 max-sm:flex-col">
                  <img class="my-8 w-[250px]" src="https://certifopac.fr/wp-content/uploads/2021/09/LogoQualiopi-300dpi-Avec-Marianne.png" alt="qualiopi certification logo">
                  <a href="https://www.unistra.fr/">
                      <img class="my-8 bg-white w-[250px]" src="https://isgi.unistra.fr/Images/logo_unistra.png" alt="logo of the University of Strasbourg">
                  </a>
              </div>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="/homepage" class="hover:underline">Page d'accueil</a>
                    </li>
                    <li>
                        <a href="/presentation" class="hover:underline">Présentation</a>
                    </li>
                  </ul>
              </div>
              <div>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="/contact" class="hover:underline ">Contact</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline">Mentions Légales</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="#" class="hover:underline">FLJ™</a>. Tous droits réservés.
          </span>
      </div>
    </div>
</footer>