<script>
	document.addEventListener('DOMContentLoaded', function () {
		var splide = new Splide('.splide',
				{
					breakpoints: {
						920: {
							destroy: true,
						},
					},
					pagination: boolean = false,
				}
		);
		splide.mount();

	});

</script>
<section
	id="presentation-slider" class=" one-time bg-[#A5A3BF] flex p-6 justify-content-between align-items-center border-b-2 border-solid border-white">

	<section class="splide" aria-label="A slider that highlights different projects ">
		<div class="splide__track">
			<ul class="splide__list">
				<li class="splide__slide m-4">
					<article class="bg-[#D7C8C8] rounded-lg p-4 mx-10 shadow-lg hover:shadow-xl w-11/12 max-sm:m-auto">
						<h2 class="font-bold mx-auto text-2xl mb-4">Projet actuel</h2>
						<div class="flex gap-6">
							<p class="text-justify">Je suis formatrice consultante dans le secteur médico-social et de la santé mentale et en parallèle maîtresse de conférences associée à temps partiel à la Faculté des Sciences du Sport.</br></br>
								Je suis responsable du DEUST « Sport Adapté » (depuis 22 ans). Ce diplôme permet aux étudiants de développer des compétences professionnelles afin de devenir éducateurs sportifs spécialisés auprès de personnes déficientes intellectuelles ou en souffrance psychique. Je suis également responsable du D.U. « autisme et médiations corporelles » qui se met en œuvre en partenariat avec le Service formation continue (SFC) et Trans’Formation (organisme de formation de la Fédération Française du Sport Adapté). A l’Université, je suis également chargée de Mission Handicap avec Fabienne Rakitic et toute l’équipe SVU-Mission Handicap.</p>
							<img src="http://pksub.com/assets/img-temp/300x300/img1.jpg" class="mr-3 max-md:hidden" alt="300x300" />
						</div>
					</article>
				</li>
				<li class="splide__slide m-4">
					<article class="bg-[#D7C8C8] rounded-lg p-4 mx-10 shadow-lg hover:shadow-xl w-11/12 max-sm:m-auto">
						<h2 class="font-bold mx-auto text-2xl mb-4">Projet actuel</h2>
						<div class="flex gap-6">
							<p class="text-justify">Je suis formatrice consultante dans le secteur médico-social et de la santé mentale et en parallèle maîtresse de conférences associée à temps partiel à la Faculté des Sciences du Sport.</br></br>
								Je suis responsable du DEUST « Sport Adapté » (depuis 22 ans). Ce diplôme permet aux étudiants de développer des compétences professionnelles afin de devenir éducateurs sportifs spécialisés auprès de personnes déficientes intellectuelles ou en souffrance psychique. Je suis également responsable du D.U. « autisme et médiations corporelles » qui se met en œuvre en partenariat avec le Service formation continue (SFC) et Trans’Formation (organisme de formation de la Fédération Française du Sport Adapté). A l’Université, je suis également chargée de Mission Handicap avec Fabienne Rakitic et toute l’équipe SVU-Mission Handicap.</p>
							<img src="http://pksub.com/assets/img-temp/300x300/img1.jpg" class="mr-3 max-md:hidden" alt="300x300" />
						</div>
					</article>
				</li>
				<li class="splide__slide m-4">
					<article class="bg-[#D7C8C8] rounded-lg p-4 mx-10 shadow-lg hover:shadow-xl w-11/12 max-sm:m-auto">
						<h2 class="font-bold mx-auto text-2xl mb-4">Projet actuel</h2>
						<div class="flex gap-6">
							<p class="text-justify">Je suis formatrice consultante dans le secteur médico-social et de la santé mentale et en parallèle maîtresse de conférences associée à temps partiel à la Faculté des Sciences du Sport.</br></br>
								Je suis responsable du DEUST « Sport Adapté » (depuis 22 ans). Ce diplôme permet aux étudiants de développer des compétences professionnelles afin de devenir éducateurs sportifs spécialisés auprès de personnes déficientes intellectuelles ou en souffrance psychique. Je suis également responsable du D.U. « autisme et médiations corporelles » qui se met en œuvre en partenariat avec le Service formation continue (SFC) et Trans’Formation (organisme de formation de la Fédération Française du Sport Adapté). A l’Université, je suis également chargée de Mission Handicap avec Fabienne Rakitic et toute l’équipe SVU-Mission Handicap.</p>
							<img src="http://pksub.com/assets/img-temp/300x300/img1.jpg" class="mr-3 max-md:hidden" alt="300x300" />
						</div>
					</article>
				</li>
			</ul>
		</div>
	</section>
</section>
