<script>
	document.addEventListener('DOMContentLoaded', function () {
		var splide = new Splide('.splide',
				{
					breakpoints: {
						920: {
							destroy: true,
						},
					},
					pagination: boolean = false,
					padding: '5rem',
				}
		);
		splide.mount();
	});
</script>
<div class="bg-white">
<section
	id="presentation-slider" class="carts-color-blue one-time flex justify-center items-center p-6 justify-content-between align-items-center xl:mx-40">
	<section class="splide w-full" aria-label="A slider that highlights different projects ">
		<div class="splide__track">
			<ul class="splide__list">
				{% for project in projects %}
				<li class="splide__slide m-4">
					<article class="carts-margin-x p-4 mx-10 w-11/12 max-sm:mx-auto">
						<h2 class="mx-auto font-black text-4xl mb-4">{{ project.title }}</h2>
						<div class="flex max-md:flex-wrap gap-6">
							{{ project.content | raw }}
							<img src="{{ asset('uploads/image/presentation/' ~ project.image) }}" class="mr-3 max-md:m-auto" alt="Ymage to illustrate the project">
						</div>
					</article>
				</li>
				{% endfor %}
			</ul>
		</div>
	</section>
</section>
</div>

