<section class="bg-white carts-color-blue border-t-2 border-b-2 border-solid border-white p-4 md:p-8">
    <article class="flex flex-col items-center justify-center carts-margin-x">
        <h3 class="font-black text-4xl pb-4">Intéressé.e par une formation ?</h3>
        <p class="mx-auto pb-4 my-4 md:my-auto md:mx-0">Vous pouvez nous contacter en cliquant sur ce bouton</p>
        <button class="text-black btn-principal rounded-lg p-2 font-bold transition-transform duration-300 ease-in-out transform hover:scale-95 mx-auto md:mx-0 my-4 md:my-auto cursor-pointer md:mb-0"><a href="/contact">Nous contacter</a></button>
    </article>
</section>
