<section class="bg-[#A5A3BF] flex flex-wrap border-b-2 border-solid border-white  md:pt-8">
    <h2 class="font-bold mx-auto mt-4 text-2xl">Formation Sur Mesure</h2>
    <article class="bg-[#D7C8C8] flex flex-wrap rounded-lg p-2 my-8  mx-6 md:mx-10 shadow-lg hover:shadow-xl transform transition-transform hover:scale-105">
        <a href="#">
            <h3 class="font-bold mt-4 ml-4">Explications</h3>
            <p class="m-4 text-justify">Donec dictum nunc nec est malesuada luctus. Vivamus nec maximus dolor, non vestibulum metus. Aenean vitae luctus turpis. Donec maximus faucibus enim at fringilla. Integer et sodales elit. </br> Phasellus et nulla risus. Nam a augue luctus, feugiat sem ac, tincidunt nibh. Pellentesque malesuada at nisl quis consectetur. Etiam finibus laoreet risus, eu imperdiet lacus ullamcorper vitae. Donec hendrerit fermentum risus sed luctus.</p>
        </a>
    </article>
</section>