<section class="bg-[#A5A3BF] flex flex-wrap border-b-2 border-solid border-white  md:pt-8">
    <h2 class="font-bold mx-auto mt-4 text-2xl">Formation Sur Mesure</h2>
    <article class="bg-[#D7C8C8] flex flex-wrap rounded-lg p-4 my-8  mx-6 md:mx-10 shadow-lg hover:shadow-xl transform transition-transform hover:scale-105">
        {% if customMadeFormation %}
            <h3 class="font-bold mr-4 mb-4">{{ customMadeFormation.title }}</h3>
            {{ customMadeFormation.content | raw}}
        {% else %}
            <p>Aucune formation disponible.</p>
        {% endif %}
    </article>
</section>