<section class="bg-[#A5A3BF] flex flex-wrap border-b-2 border-solid border-white p-4 md:p-8">
    <h2 class="font-bold mx-auto mt-4 text-2xl">Formation en partenariat</h2>
    <div class="flex flex-col md:flex-row">
        <article class="bg-[#D7C8C8] rounded-lg p-2 my-8 md:mx-6 shadow-lg hover:shadow-xl transform transition-transform hover:scale-105">
            <h3 class="font-bold mt-4 ml-4">Université de Strasbourg</h3>
            <p class="m-4 text-justify">Deust sport adapté // Du Autisme et médiation corporelle <br>
            Phasellus et nulla risus. Nam a augue luctus, feugiat sem ac, tincidunt nibh. Pellentesque malesuada at nisl quis consectetur. Etiam finibus laoreet risus, eu imperdiet lacus ullamcorper vitae. Donec hendrerit fermentum risus sed luctus.</p>
        </article>
        <article class="bg-[#D7C8C8] rounded-lg p-2 my-8 md:mx-6 shadow-lg hover:shadow-xl transform transition-transform hover:scale-105">
            <h3 class="font-bold mt-4 ml-4">Trans'Formation (organisme national de formation de FFSA)</h3>
            <p class="m-4 text-justify">DU Autiisme et médiation corporelle // DEJEPS APSA (activité physique et sportive adapté)<br>
            Phasellus et nulla risus. Nam a augue luctus, feugiat sem ac, tincidunt nibh. Pellentesque malesuada at nisl quis consectetur. Etiam finibus laoreet risus, eu imperdiet lacus ullamcorper vitae. Donec hendrerit fermentum risus sed luctus.</p>
        </article>
    </div>
</section>
