<section class="bg-white flex justify-center md:pt-8">
    <div class="flex flex-wrap justify-center lg:mx-40 carts-margin-x">
    {% if ownerPresentation %}
        <img id="presentation-img" src="{{ asset('uploads/image/homepage/' ~ ownerPresentation.image) }}" class="lg:ml-3 max-lg:mt-8 mx-auto" alt="Owner Presentation Image">
        <h2 class="carts-color-blue ml-8 font-black text-4xl">{{ ownerPresentation.role }}</h2>
    <div class="carts-color-blue flex mx-16 mt-10 flex-col lg:flex-row pb-10 font-normal">
    {{ ownerPresentation.shortPresentation | raw }}
    </div>
    {% else %}
        <p>Aucune présentation disponible.</p>
    {% endif %}

    <a href="/presentation"  class="btn-principal rounded-lg p-2 font-bold  transition-transform duration-300 ease-in-out transform hover:scale-95 relative overflow-hidden shadow-md mx-auto my-auto cursor-pointer mb-10">En savoir plus</a>
    </div>
</section>

