<section class="flex flex-wrap justify-content-between align-items-center mx-2">
    <h2 class="text-458268">Consultante Formatrice</h2>
    <div class="flex mx-auto my-auto">
        <p>Françoise Le Jallé, responsable scientifique du DU « autisme et médiations corporelles », du DEUST « Sport Adapté » et de stages courts dans le domaine de la déficience intellectuelle, de la souffrance psychique et de l’autisme</p>
        <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
    </div>
</section>
