{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
  {% include 'homepage/_header.html.twig' %} 
<main>
  {% include '_partials/_flash.html.twig' %}
  <section class="bg-white pb-12 relative">
    <div class="container max-w-full mx-auto">
      <div class="flex justify-center items-center">
        <img src="/images/banner.jpg" alt="Banner" class="w-full h-60 object-cover" data-aos="fade-in">
        <h2 class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center text-xl font-bold mt-4">FLJ Conseil Formation Recherche</h2>
      </div>
    </div>
  </section>
  {% include 'homepage/_presentation.html.twig' %} 
  {% include 'homepage/_custom-formation.html.twig' %}
  {% include 'homepage/_contact-link.html.twig' %}
  {% include 'homepage/_owner-formation.html.twig' %}
</main>
{% endblock %}
